USE [Никитин_Автозаправки]
GO
/****** Object:  Table [dbo].[Автозаправка]    Script Date: 04.02.2026 3:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Автозаправка](
	[Код_АЗС] [int] IDENTITY(1,1) NOT NULL,
	[Код_Фирмы] [int] NOT NULL,
	[Название_АЗС] [nvarchar](200) NOT NULL,
	[Адрес_АЗС] [nvarchar](400) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_АЗС] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиент]    Script Date: 04.02.2026 3:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиент](
	[Код_Клиента] [int] IDENTITY(1,1) NOT NULL,
	[Карт_Счет] [varchar](20) NOT NULL,
	[Фамилия] [nvarchar](300) NOT NULL,
	[Имя] [nvarchar](300) NOT NULL,
	[Отчество] [nvarchar](300) NULL,
	[Адрес] [nvarchar](400) NULL,
	[Телефон] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_Клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Поставка_Топлива]    Script Date: 04.02.2026 3:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Поставка_Топлива](
	[Код_Фирмы] [int] NOT NULL,
	[Код_Топлива] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_Фирмы] ASC,
	[Код_Топлива] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Предложение_Топлива]    Script Date: 04.02.2026 3:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Предложение_Топлива](
	[Код_АЗС] [int] NOT NULL,
	[Код_Топлива] [int] NOT NULL,
	[Цена] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_АЗС] ASC,
	[Код_Топлива] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Продажа]    Script Date: 04.02.2026 3:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Продажа](
	[Код_Продажи] [bigint] IDENTITY(1,1) NOT NULL,
	[Код_АЗС] [int] NOT NULL,
	[Код_Клиента] [int] NOT NULL,
	[Код_Топлива] [int] NOT NULL,
	[Количество] [decimal](18, 3) NOT NULL,
	[Дата_Продажи] [datetime2](7) NOT NULL,
	[Цена_Продажи] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_Продажи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Топливо]    Script Date: 04.02.2026 3:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Топливо](
	[Код_Топлива] [int] IDENTITY(1,1) NOT NULL,
	[Вид_Топлива] [nvarchar](100) NOT NULL,
	[Ед_Измерения] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_Топлива] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Фирма]    Script Date: 04.02.2026 3:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Фирма](
	[Код_Фирмы] [int] IDENTITY(1,1) NOT NULL,
	[Название_Фирмы] [nvarchar](200) NOT NULL,
	[Юр_Адрес] [nvarchar](400) NOT NULL,
	[Телефон] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_Фирмы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Автозаправка] ON 

INSERT [dbo].[Автозаправка] ([Код_АЗС], [Код_Фирмы], [Название_АЗС], [Адрес_АЗС]) VALUES (1, 1, N'АЗС Газпром №1', N'г. Москва, Каширское ш., д. 10')
INSERT [dbo].[Автозаправка] ([Код_АЗС], [Код_Фирмы], [Название_АЗС], [Адрес_АЗС]) VALUES (2, 1, N'АЗС Газпром №2', N'г. Москва, Ленинский пр., д. 45')
INSERT [dbo].[Автозаправка] ([Код_АЗС], [Код_Фирмы], [Название_АЗС], [Адрес_АЗС]) VALUES (3, 2, N'АЗС Лукойл Центр', N'г. Москва, Тверская ул., д. 15')
SET IDENTITY_INSERT [dbo].[Автозаправка] OFF
GO
SET IDENTITY_INSERT [dbo].[Клиент] ON 

INSERT [dbo].[Клиент] ([Код_Клиента], [Карт_Счет], [Фамилия], [Имя], [Отчество], [Адрес], [Телефон]) VALUES (1, N'CARD001', N'Иванов', N'Алексей', N'Сергеевич', N'г. Москва, ул. Пушкина, д. 10', N'+79001112233')
INSERT [dbo].[Клиент] ([Код_Клиента], [Карт_Счет], [Фамилия], [Имя], [Отчество], [Адрес], [Телефон]) VALUES (2, N'CARD002', N'Петрова', N'Мария', NULL, N'г. Москва, пр-т Вернадского, д. 50', N'+79004445566')
INSERT [dbo].[Клиент] ([Код_Клиента], [Карт_Счет], [Фамилия], [Имя], [Отчество], [Адрес], [Телефон]) VALUES (3, N'CARD003', N'Сидоров', N'Дмитрий', N'Анатольевич', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Клиент] OFF
GO
INSERT [dbo].[Поставка_Топлива] ([Код_Фирмы], [Код_Топлива]) VALUES (1, 1)
INSERT [dbo].[Поставка_Топлива] ([Код_Фирмы], [Код_Топлива]) VALUES (1, 2)
INSERT [dbo].[Поставка_Топлива] ([Код_Фирмы], [Код_Топлива]) VALUES (1, 4)
GO
INSERT [dbo].[Предложение_Топлива] ([Код_АЗС], [Код_Топлива], [Цена]) VALUES (1, 1, CAST(55.90 AS Decimal(18, 2)))
INSERT [dbo].[Предложение_Топлива] ([Код_АЗС], [Код_Топлива], [Цена]) VALUES (1, 2, CAST(59.90 AS Decimal(18, 2)))
INSERT [dbo].[Предложение_Топлива] ([Код_АЗС], [Код_Топлива], [Цена]) VALUES (1, 4, CAST(62.50 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Продажа] ON 

INSERT [dbo].[Продажа] ([Код_Продажи], [Код_АЗС], [Код_Клиента], [Код_Топлива], [Количество], [Дата_Продажи], [Цена_Продажи]) VALUES (1, 1, 1, 2, CAST(40.000 AS Decimal(18, 3)), CAST(N'2026-02-01T08:15:00.0000000' AS DateTime2), CAST(59.90 AS Decimal(18, 2)))
INSERT [dbo].[Продажа] ([Код_Продажи], [Код_АЗС], [Код_Клиента], [Код_Топлива], [Количество], [Дата_Продажи], [Цена_Продажи]) VALUES (2, 1, 2, 1, CAST(30.500 AS Decimal(18, 3)), CAST(N'2026-02-01T09:30:00.0000000' AS DateTime2), CAST(55.90 AS Decimal(18, 2)))
INSERT [dbo].[Продажа] ([Код_Продажи], [Код_АЗС], [Код_Клиента], [Код_Топлива], [Количество], [Дата_Продажи], [Цена_Продажи]) VALUES (3, 1, 3, 4, CAST(45.200 AS Decimal(18, 3)), CAST(N'2026-02-01T12:45:00.0000000' AS DateTime2), CAST(62.50 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Продажа] OFF
GO
SET IDENTITY_INSERT [dbo].[Топливо] ON 

INSERT [dbo].[Топливо] ([Код_Топлива], [Вид_Топлива], [Ед_Измерения]) VALUES (1, N'Бензин АИ-92', N'литр')
INSERT [dbo].[Топливо] ([Код_Топлива], [Вид_Топлива], [Ед_Измерения]) VALUES (2, N'Бензин АИ-95', N'литр')
INSERT [dbo].[Топливо] ([Код_Топлива], [Вид_Топлива], [Ед_Измерения]) VALUES (3, N'Бензин АИ-98', N'литр')
SET IDENTITY_INSERT [dbo].[Топливо] OFF
GO
SET IDENTITY_INSERT [dbo].[Фирма] ON 

INSERT [dbo].[Фирма] ([Код_Фирмы], [Название_Фирмы], [Юр_Адрес], [Телефон]) VALUES (1, N'Газпромнефть', N'г. Москва, ул. Ленина, д. 100', N'+74951234567')
INSERT [dbo].[Фирма] ([Код_Фирмы], [Название_Фирмы], [Юр_Адрес], [Телефон]) VALUES (2, N'Лукойл', N'г. Москва, пр-т Мира, д. 50', N'+74959876543')
INSERT [dbo].[Фирма] ([Код_Фирмы], [Название_Фирмы], [Юр_Адрес], [Телефон]) VALUES (3, N'Роснефть', N'г. Санкт-Петербург, Невский пр., д. 30', N'+78123456789')
SET IDENTITY_INSERT [dbo].[Фирма] OFF
GO
ALTER TABLE [dbo].[Автозаправка]  WITH CHECK ADD  CONSTRAINT [FK_Автозаправка_Фирма] FOREIGN KEY([Код_Фирмы])
REFERENCES [dbo].[Фирма] ([Код_Фирмы])
GO
ALTER TABLE [dbo].[Автозаправка] CHECK CONSTRAINT [FK_Автозаправка_Фирма]
GO
ALTER TABLE [dbo].[Поставка_Топлива]  WITH CHECK ADD FOREIGN KEY([Код_Топлива])
REFERENCES [dbo].[Топливо] ([Код_Топлива])
GO
ALTER TABLE [dbo].[Поставка_Топлива]  WITH CHECK ADD FOREIGN KEY([Код_Фирмы])
REFERENCES [dbo].[Фирма] ([Код_Фирмы])
GO
ALTER TABLE [dbo].[Предложение_Топлива]  WITH CHECK ADD FOREIGN KEY([Код_АЗС])
REFERENCES [dbo].[Автозаправка] ([Код_АЗС])
GO
ALTER TABLE [dbo].[Предложение_Топлива]  WITH CHECK ADD FOREIGN KEY([Код_Топлива])
REFERENCES [dbo].[Топливо] ([Код_Топлива])
GO
ALTER TABLE [dbo].[Продажа]  WITH CHECK ADD FOREIGN KEY([Код_АЗС])
REFERENCES [dbo].[Автозаправка] ([Код_АЗС])
GO
ALTER TABLE [dbo].[Продажа]  WITH CHECK ADD FOREIGN KEY([Код_Клиента])
REFERENCES [dbo].[Клиент] ([Код_Клиента])
GO
ALTER TABLE [dbo].[Продажа]  WITH CHECK ADD FOREIGN KEY([Код_Топлива])
REFERENCES [dbo].[Топливо] ([Код_Топлива])
GO
