USE [Никитин_Железнодорожное_Справочное_Бюро]
GO
/****** Object:  Table [dbo].[Изменение_Расписания]    Script Date: 04.02.2026 23:35:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Изменение_Расписания](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Расписания] [int] NOT NULL,
	[Причина] [nvarchar](255) NULL,
	[Новое_Время_Отправления] [time](7) NULL,
	[Новое_Время_Прибытия] [time](7) NULL,
	[Дата_Изменения] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Маршрут]    Script Date: 04.02.2026 23:35:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Маршрут](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Поезда] [int] NOT NULL,
	[Id_Станции] [int] NOT NULL,
	[Порядок_Остановки] [int] NOT NULL,
	[Время_Прибытия] [time](7) NULL,
	[Время_Отправления] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Маршрут_Уникальность] UNIQUE NONCLUSTERED 
(
	[Id_Поезда] ASC,
	[Id_Станции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Платформа]    Script Date: 04.02.2026 23:35:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Платформа](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Номер_Платформы] [nvarchar](10) NOT NULL,
	[Id_Станции] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Поезд]    Script Date: 04.02.2026 23:35:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Поезд](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Номер_Поезда] [nvarchar](10) NOT NULL,
	[Id_Типа] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Номер_Поезда] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Расписание]    Script Date: 04.02.2026 23:35:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Расписание](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Поезда] [int] NOT NULL,
	[Id_Станции_Отправления] [int] NOT NULL,
	[Id_Станции_Назначения] [int] NOT NULL,
	[Дата_Отправления] [date] NOT NULL,
	[Плановое_Время_Отправления] [time](7) NOT NULL,
	[Фактическое_Время_Отправления] [time](7) NULL,
	[Плановое_Время_Прибытия] [time](7) NULL,
	[Фактическое_Время_Прибытия] [time](7) NULL,
	[Статус] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Расписание_Платформа]    Script Date: 04.02.2026 23:35:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Расписание_Платформа](
	[Id_Расписания] [int] NOT NULL,
	[Id_Платформы] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Расписания] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Справочная_Информация]    Script Date: 04.02.2026 23:35:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Справочная_Информация](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Заголовок] [nvarchar](200) NOT NULL,
	[Текст] [nvarchar](max) NOT NULL,
	[Тип_Информации] [nvarchar](30) NOT NULL,
	[Id_Станции] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Станция]    Script Date: 04.02.2026 23:35:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Станция](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](150) NOT NULL,
	[Город] [nvarchar](100) NOT NULL,
	[Код_ЕСР] [char](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Код_ЕСР] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Тип_Поезда]    Script Date: 04.02.2026 23:35:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тип_Поезда](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Название] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуга_На_Вокзале]    Script Date: 04.02.2026 23:35:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуга_На_Вокзале](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](150) NOT NULL,
	[Описание] [nvarchar](max) NULL,
	[Расположение] [nvarchar](200) NULL,
	[Режим_Работы] [nvarchar](100) NULL,
	[Id_Станции] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Изменение_Расписания] ADD  DEFAULT (getdate()) FOR [Дата_Изменения]
GO
ALTER TABLE [dbo].[Расписание] ADD  DEFAULT (N'По_расписанию') FOR [Статус]
GO
ALTER TABLE [dbo].[Изменение_Расписания]  WITH CHECK ADD  CONSTRAINT [FK_ИзмРасп_Расписание] FOREIGN KEY([Id_Расписания])
REFERENCES [dbo].[Расписание] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Изменение_Расписания] CHECK CONSTRAINT [FK_ИзмРасп_Расписание]
GO
ALTER TABLE [dbo].[Маршрут]  WITH CHECK ADD  CONSTRAINT [FK_Маршрут_Поезд] FOREIGN KEY([Id_Поезда])
REFERENCES [dbo].[Поезд] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Маршрут] CHECK CONSTRAINT [FK_Маршрут_Поезд]
GO
ALTER TABLE [dbo].[Маршрут]  WITH CHECK ADD  CONSTRAINT [FK_Маршрут_Станция] FOREIGN KEY([Id_Станции])
REFERENCES [dbo].[Станция] ([Id])
GO
ALTER TABLE [dbo].[Маршрут] CHECK CONSTRAINT [FK_Маршрут_Станция]
GO
ALTER TABLE [dbo].[Платформа]  WITH CHECK ADD  CONSTRAINT [FK_Платформа_Станция] FOREIGN KEY([Id_Станции])
REFERENCES [dbo].[Станция] ([Id])
GO
ALTER TABLE [dbo].[Платформа] CHECK CONSTRAINT [FK_Платформа_Станция]
GO
ALTER TABLE [dbo].[Поезд]  WITH CHECK ADD  CONSTRAINT [FK_Поезд_Тип] FOREIGN KEY([Id_Типа])
REFERENCES [dbo].[Тип_Поезда] ([Id])
GO
ALTER TABLE [dbo].[Поезд] CHECK CONSTRAINT [FK_Поезд_Тип]
GO
ALTER TABLE [dbo].[Расписание]  WITH CHECK ADD  CONSTRAINT [FK_Расписание_Поезд] FOREIGN KEY([Id_Поезда])
REFERENCES [dbo].[Поезд] ([Id])
GO
ALTER TABLE [dbo].[Расписание] CHECK CONSTRAINT [FK_Расписание_Поезд]
GO
ALTER TABLE [dbo].[Расписание]  WITH CHECK ADD  CONSTRAINT [FK_Расписание_Станция_Назн] FOREIGN KEY([Id_Станции_Назначения])
REFERENCES [dbo].[Станция] ([Id])
GO
ALTER TABLE [dbo].[Расписание] CHECK CONSTRAINT [FK_Расписание_Станция_Назн]
GO
ALTER TABLE [dbo].[Расписание]  WITH CHECK ADD  CONSTRAINT [FK_Расписание_Станция_Отпр] FOREIGN KEY([Id_Станции_Отправления])
REFERENCES [dbo].[Станция] ([Id])
GO
ALTER TABLE [dbo].[Расписание] CHECK CONSTRAINT [FK_Расписание_Станция_Отпр]
GO
ALTER TABLE [dbo].[Расписание_Платформа]  WITH CHECK ADD  CONSTRAINT [FK_РаспПлатф_Платформа] FOREIGN KEY([Id_Платформы])
REFERENCES [dbo].[Платформа] ([Id])
GO
ALTER TABLE [dbo].[Расписание_Платформа] CHECK CONSTRAINT [FK_РаспПлатф_Платформа]
GO
ALTER TABLE [dbo].[Расписание_Платформа]  WITH CHECK ADD  CONSTRAINT [FK_РаспПлатф_Расписание] FOREIGN KEY([Id_Расписания])
REFERENCES [dbo].[Расписание] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Расписание_Платформа] CHECK CONSTRAINT [FK_РаспПлатф_Расписание]
GO
ALTER TABLE [dbo].[Справочная_Информация]  WITH CHECK ADD  CONSTRAINT [FK_СпрИнфо_Станция] FOREIGN KEY([Id_Станции])
REFERENCES [dbo].[Станция] ([Id])
GO
ALTER TABLE [dbo].[Справочная_Информация] CHECK CONSTRAINT [FK_СпрИнфо_Станция]
GO
ALTER TABLE [dbo].[Услуга_На_Вокзале]  WITH CHECK ADD  CONSTRAINT [FK_Услуга_Станция] FOREIGN KEY([Id_Станции])
REFERENCES [dbo].[Станция] ([Id])
GO
ALTER TABLE [dbo].[Услуга_На_Вокзале] CHECK CONSTRAINT [FK_Услуга_Станция]
GO
ALTER TABLE [dbo].[Расписание]  WITH CHECK ADD  CONSTRAINT [CHK_Расписание_Статус] CHECK  (([Статус]=N'Отправлен' OR [Статус]=N'Прибыл' OR [Статус]=N'Отменён' OR [Статус]=N'Задержан' OR [Статус]=N'По_расписанию'))
GO
ALTER TABLE [dbo].[Расписание] CHECK CONSTRAINT [CHK_Расписание_Статус]
GO
ALTER TABLE [dbo].[Справочная_Информация]  WITH CHECK ADD  CONSTRAINT [CHK_СпрИнфо_Тип] CHECK  (([Тип_Информации]=N'Объявление' OR [Тип_Информации]=N'FAQ' OR [Тип_Информации]=N'Правило'))
GO
ALTER TABLE [dbo].[Справочная_Информация] CHECK CONSTRAINT [CHK_СпрИнфо_Тип]
GO
