USE [Никитин_Косметическая_продукция]
GO
/****** Object:  Table [dbo].[Бренды]    Script Date: 04.02.2026 5:03:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Бренды](
	[Код_бренда] [int] IDENTITY(1,1) NOT NULL,
	[Наименование_бренда] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_бренда] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 04.02.2026 5:03:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[Код_заказа] [int] IDENTITY(1,1) NOT NULL,
	[Код_предприятия] [int] NOT NULL,
	[Код_товара] [int] NOT NULL,
	[Количество_товара_в_заказе] [int] NOT NULL,
	[Дата_заказа] [date] NOT NULL,
	[Дата_к_исполнению] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Поставки]    Script Date: 04.02.2026 5:03:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Поставки](
	[Код_поставки] [int] IDENTITY(1,1) NOT NULL,
	[Код_заказа] [int] NOT NULL,
	[Дата_фактического_исполнения] [date] NOT NULL,
	[Количество_товара_в_доставке] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_поставки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Предприятия]    Script Date: 04.02.2026 5:03:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Предприятия](
	[Код_предприятия] [int] IDENTITY(1,1) NOT NULL,
	[Наименование_предприятия] [nvarchar](255) NOT NULL,
	[Адрес] [nvarchar](max) NULL,
	[Телефон] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_предприятия] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товары]    Script Date: 04.02.2026 5:03:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товары](
	[Код_товара] [int] IDENTITY(1,1) NOT NULL,
	[Код_бренда] [int] NULL,
	[Наименование_товара] [nvarchar](255) NOT NULL,
	[Единица_измерения] [nvarchar](50) NOT NULL,
	[Цена] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_товара] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Бренды] ON 

INSERT [dbo].[Бренды] ([Код_бренда], [Наименование_бренда]) VALUES (1, N'Garnier')
INSERT [dbo].[Бренды] ([Код_бренда], [Наименование_бренда]) VALUES (2, N'L’Oréal Paris')
INSERT [dbo].[Бренды] ([Код_бренда], [Наименование_бренда]) VALUES (3, N'Nivea')
SET IDENTITY_INSERT [dbo].[Бренды] OFF
GO
SET IDENTITY_INSERT [dbo].[Заказы] ON 

INSERT [dbo].[Заказы] ([Код_заказа], [Код_предприятия], [Код_товара], [Количество_товара_в_заказе], [Дата_заказа], [Дата_к_исполнению]) VALUES (1, 1, 1, 100, CAST(N'2025-11-01' AS Date), CAST(N'2025-11-10' AS Date))
INSERT [dbo].[Заказы] ([Код_заказа], [Код_предприятия], [Код_товара], [Количество_товара_в_заказе], [Дата_заказа], [Дата_к_исполнению]) VALUES (2, 2, 5, 80, CAST(N'2025-11-02' AS Date), CAST(N'2025-11-12' AS Date))
INSERT [dbo].[Заказы] ([Код_заказа], [Код_предприятия], [Код_товара], [Количество_товара_в_заказе], [Дата_заказа], [Дата_к_исполнению]) VALUES (3, 3, 12, 120, CAST(N'2025-11-03' AS Date), CAST(N'2025-11-15' AS Date))
SET IDENTITY_INSERT [dbo].[Заказы] OFF
GO
SET IDENTITY_INSERT [dbo].[Поставки] ON 

INSERT [dbo].[Поставки] ([Код_поставки], [Код_заказа], [Дата_фактического_исполнения], [Количество_товара_в_доставке]) VALUES (1, 1, CAST(N'2025-11-09' AS Date), 60)
INSERT [dbo].[Поставки] ([Код_поставки], [Код_заказа], [Дата_фактического_исполнения], [Количество_товара_в_доставке]) VALUES (2, 1, CAST(N'2025-11-11' AS Date), 40)
INSERT [dbo].[Поставки] ([Код_поставки], [Код_заказа], [Дата_фактического_исполнения], [Количество_товара_в_доставке]) VALUES (3, 2, CAST(N'2025-11-13' AS Date), 80)
SET IDENTITY_INSERT [dbo].[Поставки] OFF
GO
SET IDENTITY_INSERT [dbo].[Предприятия] ON 

INSERT [dbo].[Предприятия] ([Код_предприятия], [Наименование_предприятия], [Адрес], [Телефон]) VALUES (1, N'Косметик Плюс ООО', N'г. Москва, ул. Тверская, д. 15', N'+74951234567')
INSERT [dbo].[Предприятия] ([Код_предприятия], [Наименование_предприятия], [Адрес], [Телефон]) VALUES (2, N'Ароматика Торг', N'г. Санкт-Петербург, Невский пр., д. 28', N'+78129876543')
INSERT [dbo].[Предприятия] ([Код_предприятия], [Наименование_предприятия], [Адрес], [Телефон]) VALUES (3, N'Гламур Дистрибуция', N'г. Екатеринбург, ул. Ленина, д. 42', N'+73432221122')
SET IDENTITY_INSERT [dbo].[Предприятия] OFF
GO
SET IDENTITY_INSERT [dbo].[Товары] ON 

INSERT [dbo].[Товары] ([Код_товара], [Код_бренда], [Наименование_товара], [Единица_измерения], [Цена]) VALUES (1, 1, N'Мицеллярная вода', N'мл', CAST(399.90 AS Decimal(10, 2)))
INSERT [dbo].[Товары] ([Код_товара], [Код_бренда], [Наименование_товара], [Единица_измерения], [Цена]) VALUES (2, 1, N'Крем для лица дневной', N'г', CAST(450.00 AS Decimal(10, 2)))
INSERT [dbo].[Товары] ([Код_товара], [Код_бренда], [Наименование_товара], [Единица_измерения], [Цена]) VALUES (3, 1, N'Шампунь увлажняющий', N'мл', CAST(320.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Товары] OFF
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Предприятия] FOREIGN KEY([Код_предприятия])
REFERENCES [dbo].[Предприятия] ([Код_предприятия])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Предприятия]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Товары] FOREIGN KEY([Код_товара])
REFERENCES [dbo].[Товары] ([Код_товара])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Товары]
GO
ALTER TABLE [dbo].[Поставки]  WITH CHECK ADD  CONSTRAINT [FK_Поставки_Заказы] FOREIGN KEY([Код_заказа])
REFERENCES [dbo].[Заказы] ([Код_заказа])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Поставки] CHECK CONSTRAINT [FK_Поставки_Заказы]
GO
ALTER TABLE [dbo].[Товары]  WITH CHECK ADD  CONSTRAINT [FK_Товары_Бренды] FOREIGN KEY([Код_бренда])
REFERENCES [dbo].[Бренды] ([Код_бренда])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Товары] CHECK CONSTRAINT [FK_Товары_Бренды]
GO
