USE [Никитин_Поликлиника]
GO
/****** Object:  Table [dbo].[Врачи]    Script Date: 04.02.2026 0:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Врачи](
	[Код_врача] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](100) NOT NULL,
	[Имя] [nvarchar](100) NOT NULL,
	[Отчество] [nvarchar](100) NOT NULL,
	[Специальность] [nvarchar](50) NOT NULL,
	[Категория] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_врача] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Диагнозы]    Script Date: 04.02.2026 0:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Диагнозы](
	[Код_диагноза] [int] NOT NULL,
	[Наименование_диагноза] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_диагноза] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пациенты]    Script Date: 04.02.2026 0:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пациенты](
	[Номер_медкарты] [int] NOT NULL,
	[Фамилия] [nvarchar](100) NOT NULL,
	[Имя] [nvarchar](100) NOT NULL,
	[Отчество] [nvarchar](100) NOT NULL,
	[Дата_рождения] [date] NOT NULL,
	[Адрес] [nvarchar](200) NOT NULL,
	[Пол] [char](1) NOT NULL,
	[Скидка_процент] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Номер_медкарты] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Приёмы]    Script Date: 04.02.2026 0:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Приёмы](
	[Код_приёма] [int] IDENTITY(1,1) NOT NULL,
	[Номер_талона] [int] NOT NULL,
	[Код_диагноза_предварительного] [int] NOT NULL,
	[Код_диагноза_окончательного] [int] NULL,
	[Код_стоимости] [int] NOT NULL,
	[Стоимость_визита] [decimal](10, 2) NOT NULL,
	[Скидка_применена] [decimal](5, 2) NULL,
	[Итоговая_стоимость] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_приёма] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Стоимость_услуг]    Script Date: 04.02.2026 0:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Стоимость_услуг](
	[Код_стоимости] [int] IDENTITY(1,1) NOT NULL,
	[Категория_врача] [int] NOT NULL,
	[Цель_посещения] [nvarchar](50) NOT NULL,
	[Базовая_стоимость] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_стоимости] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Талоны]    Script Date: 04.02.2026 0:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Талоны](
	[Номер_талона] [int] NOT NULL,
	[Код_талона_врача] [int] NOT NULL,
	[Номер_медкарты] [int] NOT NULL,
	[Дата_визита] [date] NOT NULL,
	[Цель_посещения] [nvarchar](50) NOT NULL,
	[Статус_талона] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Номер_талона] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Талоны_врача]    Script Date: 04.02.2026 0:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Талоны_врача](
	[Код_талона_врача] [int] IDENTITY(1,1) NOT NULL,
	[Код_врача] [int] NOT NULL,
	[Время_начала] [time](7) NOT NULL,
	[Время_окончания] [time](7) NOT NULL,
	[День_недели] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_талона_врача] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Врачи] ON 

INSERT [dbo].[Врачи] ([Код_врача], [Фамилия], [Имя], [Отчество], [Специальность], [Категория]) VALUES (1, N'Иванов', N'Иван', N'Иванович', N'Терапевт', 1)
INSERT [dbo].[Врачи] ([Код_врача], [Фамилия], [Имя], [Отчество], [Специальность], [Категория]) VALUES (2, N'Петрова', N'Мария', N'Сергеевна', N'Хирург', 2)
INSERT [dbo].[Врачи] ([Код_врача], [Фамилия], [Имя], [Отчество], [Специальность], [Категория]) VALUES (3, N'Сидоров', N'Алексей', N'Петрович', N'Офтальмолог', 3)
SET IDENTITY_INSERT [dbo].[Врачи] OFF
GO
INSERT [dbo].[Диагнозы] ([Код_диагноза], [Наименование_диагноза]) VALUES (1, N'ОРВИ')
INSERT [dbo].[Диагнозы] ([Код_диагноза], [Наименование_диагноза]) VALUES (2, N'Гипертоническая болезнь')
INSERT [dbo].[Диагнозы] ([Код_диагноза], [Наименование_диагноза]) VALUES (3, N'Гастрит')
GO
INSERT [dbo].[Пациенты] ([Номер_медкарты], [Фамилия], [Имя], [Отчество], [Дата_рождения], [Адрес], [Пол], [Скидка_процент]) VALUES (1001, N'Васильев', N'Андрей', N'Николаевич', CAST(N'1985-03-15' AS Date), N'ул. Ленина, 10', N'М', CAST(0.00 AS Decimal(5, 2)))
INSERT [dbo].[Пациенты] ([Номер_медкарты], [Фамилия], [Имя], [Отчество], [Дата_рождения], [Адрес], [Пол], [Скидка_процент]) VALUES (1002, N'Ковалева', N'Елена', N'Игоревна', CAST(N'1992-07-22' AS Date), N'ул. Мира, 25', N'Ж', CAST(10.00 AS Decimal(5, 2)))
INSERT [dbo].[Пациенты] ([Номер_медкарты], [Фамилия], [Имя], [Отчество], [Дата_рождения], [Адрес], [Пол], [Скидка_процент]) VALUES (1003, N'Федоров', N'Сергей', N'Викторович', CAST(N'1978-11-30' AS Date), N'ул. Советская, 5', N'М', CAST(0.00 AS Decimal(5, 2)))
GO
SET IDENTITY_INSERT [dbo].[Приёмы] ON 

INSERT [dbo].[Приёмы] ([Код_приёма], [Номер_талона], [Код_диагноза_предварительного], [Код_диагноза_окончательного], [Код_стоимости], [Стоимость_визита], [Скидка_применена], [Итоговая_стоимость]) VALUES (2, 1, 1, 1, 1, CAST(1500.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(1500.00 AS Decimal(10, 2)))
INSERT [dbo].[Приёмы] ([Код_приёма], [Номер_талона], [Код_диагноза_предварительного], [Код_диагноза_окончательного], [Код_стоимости], [Стоимость_визита], [Скидка_применена], [Итоговая_стоимость]) VALUES (3, 2, 2, 2, 2, CAST(2000.00 AS Decimal(10, 2)), CAST(200.00 AS Decimal(5, 2)), CAST(1800.00 AS Decimal(10, 2)))
INSERT [dbo].[Приёмы] ([Код_приёма], [Номер_талона], [Код_диагноза_предварительного], [Код_диагноза_окончательного], [Код_стоимости], [Стоимость_визита], [Скидка_применена], [Итоговая_стоимость]) VALUES (4, 3, 3, 3, 4, CAST(3000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(3000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Приёмы] OFF
GO
SET IDENTITY_INSERT [dbo].[Стоимость_услуг] ON 

INSERT [dbo].[Стоимость_услуг] ([Код_стоимости], [Категория_врача], [Цель_посещения], [Базовая_стоимость]) VALUES (1, 1, N'Консультация', CAST(1500.00 AS Decimal(10, 2)))
INSERT [dbo].[Стоимость_услуг] ([Код_стоимости], [Категория_врача], [Цель_посещения], [Базовая_стоимость]) VALUES (2, 2, N'Консультация', CAST(2000.00 AS Decimal(10, 2)))
INSERT [dbo].[Стоимость_услуг] ([Код_стоимости], [Категория_врача], [Цель_посещения], [Базовая_стоимость]) VALUES (3, 3, N'Консультация', CAST(2500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Стоимость_услуг] OFF
GO
INSERT [dbo].[Талоны] ([Номер_талона], [Код_талона_врача], [Номер_медкарты], [Дата_визита], [Цель_посещения], [Статус_талона]) VALUES (1, 1, 1001, CAST(N'2023-10-01' AS Date), N'Консультация', N'Забронирован')
INSERT [dbo].[Талоны] ([Номер_талона], [Код_талона_врача], [Номер_медкарты], [Дата_визита], [Цель_посещения], [Статус_талона]) VALUES (2, 2, 1002, CAST(N'2023-10-01' AS Date), N'Консультация', N'Забронирован')
INSERT [dbo].[Талоны] ([Номер_талона], [Код_талона_врача], [Номер_медкарты], [Дата_визита], [Цель_посещения], [Статус_талона]) VALUES (3, 3, 1003, CAST(N'2023-10-01' AS Date), N'Обследование', N'Забронирован')
GO
SET IDENTITY_INSERT [dbo].[Талоны_врача] ON 

INSERT [dbo].[Талоны_врача] ([Код_талона_врача], [Код_врача], [Время_начала], [Время_окончания], [День_недели]) VALUES (1, 1, CAST(N'09:00:00' AS Time), CAST(N'09:30:00' AS Time), 1)
INSERT [dbo].[Талоны_врача] ([Код_талона_врача], [Код_врача], [Время_начала], [Время_окончания], [День_недели]) VALUES (2, 1, CAST(N'09:30:00' AS Time), CAST(N'10:00:00' AS Time), 1)
INSERT [dbo].[Талоны_врача] ([Код_талона_врача], [Код_врача], [Время_начала], [Время_окончания], [День_недели]) VALUES (3, 1, CAST(N'10:00:00' AS Time), CAST(N'10:30:00' AS Time), 1)
SET IDENTITY_INSERT [dbo].[Талоны_врача] OFF
GO
/****** Object:  Index [UQ__Приёмы__4D9826CC6B1707AD]    Script Date: 04.02.2026 0:42:07 ******/
ALTER TABLE [dbo].[Приёмы] ADD UNIQUE NONCLUSTERED 
(
	[Номер_талона] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Стоимост__E2DFDC29E5FCF989]    Script Date: 04.02.2026 0:42:07 ******/
ALTER TABLE [dbo].[Стоимость_услуг] ADD UNIQUE NONCLUSTERED 
(
	[Категория_врача] ASC,
	[Цель_посещения] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Пациенты] ADD  DEFAULT ((0)) FOR [Скидка_процент]
GO
ALTER TABLE [dbo].[Приёмы] ADD  DEFAULT ((0)) FOR [Скидка_применена]
GO
ALTER TABLE [dbo].[Талоны] ADD  DEFAULT ('Забронирован') FOR [Статус_талона]
GO
ALTER TABLE [dbo].[Приёмы]  WITH CHECK ADD FOREIGN KEY([Код_диагноза_предварительного])
REFERENCES [dbo].[Диагнозы] ([Код_диагноза])
GO
ALTER TABLE [dbo].[Приёмы]  WITH CHECK ADD FOREIGN KEY([Код_диагноза_окончательного])
REFERENCES [dbo].[Диагнозы] ([Код_диагноза])
GO
ALTER TABLE [dbo].[Приёмы]  WITH CHECK ADD FOREIGN KEY([Код_стоимости])
REFERENCES [dbo].[Стоимость_услуг] ([Код_стоимости])
GO
ALTER TABLE [dbo].[Приёмы]  WITH CHECK ADD FOREIGN KEY([Номер_талона])
REFERENCES [dbo].[Талоны] ([Номер_талона])
GO
ALTER TABLE [dbo].[Талоны]  WITH CHECK ADD FOREIGN KEY([Код_талона_врача])
REFERENCES [dbo].[Талоны_врача] ([Код_талона_врача])
GO
ALTER TABLE [dbo].[Талоны]  WITH CHECK ADD FOREIGN KEY([Номер_медкарты])
REFERENCES [dbo].[Пациенты] ([Номер_медкарты])
GO
ALTER TABLE [dbo].[Талоны_врача]  WITH CHECK ADD FOREIGN KEY([Код_врача])
REFERENCES [dbo].[Врачи] ([Код_врача])
GO
ALTER TABLE [dbo].[Врачи]  WITH CHECK ADD CHECK  (([Категория]=(3) OR [Категория]=(2) OR [Категория]=(1)))
GO
ALTER TABLE [dbo].[Пациенты]  WITH CHECK ADD CHECK  (([Пол]='Ж' OR [Пол]='М'))
GO
ALTER TABLE [dbo].[Пациенты]  WITH CHECK ADD CHECK  (([Скидка_процент]>=(0) AND [Скидка_процент]<=(100)))
GO
ALTER TABLE [dbo].[Приёмы]  WITH CHECK ADD CHECK  (([Итоговая_стоимость]>=(0)))
GO
ALTER TABLE [dbo].[Приёмы]  WITH CHECK ADD CHECK  (([Стоимость_визита]>=(0)))
GO
ALTER TABLE [dbo].[Стоимость_услуг]  WITH CHECK ADD CHECK  (([Базовая_стоимость]>=(0)))
GO
ALTER TABLE [dbo].[Стоимость_услуг]  WITH CHECK ADD CHECK  (([Категория_врача]=(3) OR [Категория_врача]=(2) OR [Категория_врача]=(1)))
GO
ALTER TABLE [dbo].[Талоны]  WITH CHECK ADD CHECK  (([Статус_талона]='Завершён' OR [Статус_талона]='Отменён' OR [Статус_талона]='Забронирован'))
GO
ALTER TABLE [dbo].[Талоны_врача]  WITH CHECK ADD CHECK  (([День_недели]>=(1) AND [День_недели]<=(7)))
GO
