USE [Никитин_Спецодежда]
GO
/****** Object:  Table [dbo].[Должность]    Script Date: 04.02.2026 3:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Должность](
	[Код_Должности] [int] IDENTITY(1,1) NOT NULL,
	[Наименование_Должности] [varchar](255) NOT NULL,
	[Скидка_На_Спецодежду] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_Должности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Получения]    Script Date: 04.02.2026 3:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Получения](
	[Код_Получения] [int] IDENTITY(1,1) NOT NULL,
	[Код_Работника] [int] NOT NULL,
	[Код_Спецодежды] [int] NOT NULL,
	[Дата_Получения] [date] NOT NULL,
	[Расписка] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_Получения] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Работник]    Script Date: 04.02.2026 3:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Работник](
	[Код_Работника] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [varchar](255) NOT NULL,
	[Имя] [varchar](255) NOT NULL,
	[Отчество] [varchar](255) NOT NULL,
	[Код_Цеха] [int] NOT NULL,
	[Код_Должности] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_Работника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Спецодежда]    Script Date: 04.02.2026 3:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Спецодежда](
	[Код_Спецодежды] [int] IDENTITY(1,1) NOT NULL,
	[Наименование_Вида] [varchar](255) NOT NULL,
	[Срок_Носки] [int] NOT NULL,
	[Стоимость_Единицы] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_Спецодежды] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Цех]    Script Date: 04.02.2026 3:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Цех](
	[Код_Цеха] [int] IDENTITY(1,1) NOT NULL,
	[Наименование_Цеха] [varchar](255) NOT NULL,
	[Фамилия_Начальника_Цеха] [varchar](255) NOT NULL,
	[Имя_Начальника_Цеха] [varchar](255) NOT NULL,
	[Отчество_Начальника_Цеха] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_Цеха] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Должность] ON 

INSERT [dbo].[Должность] ([Код_Должности], [Наименование_Должности], [Скидка_На_Спецодежду]) VALUES (1, N'Оператор', 30)
INSERT [dbo].[Должность] ([Код_Должности], [Наименование_Должности], [Скидка_На_Спецодежду]) VALUES (2, N'Техник', 40)
INSERT [dbo].[Должность] ([Код_Должности], [Наименование_Должности], [Скидка_На_Спецодежду]) VALUES (3, N'Инженер', 50)
SET IDENTITY_INSERT [dbo].[Должность] OFF
GO
SET IDENTITY_INSERT [dbo].[Получения] ON 

INSERT [dbo].[Получения] ([Код_Получения], [Код_Работника], [Код_Спецодежды], [Дата_Получения], [Расписка]) VALUES (1, 1, 1, CAST(N'2025-04-14' AS Date), N'Подпись подтверждена')
INSERT [dbo].[Получения] ([Код_Получения], [Код_Работника], [Код_Спецодежды], [Дата_Получения], [Расписка]) VALUES (2, 1, 2, CAST(N'2025-12-05' AS Date), N'Подпись подтверждена')
INSERT [dbo].[Получения] ([Код_Получения], [Код_Работника], [Код_Спецодежды], [Дата_Получения], [Расписка]) VALUES (3, 1, 3, CAST(N'2025-09-12' AS Date), N'Подпись подтверждена')
SET IDENTITY_INSERT [dbo].[Получения] OFF
GO
SET IDENTITY_INSERT [dbo].[Работник] ON 

INSERT [dbo].[Работник] ([Код_Работника], [Фамилия], [Имя], [Отчество], [Код_Цеха], [Код_Должности]) VALUES (1, N'Петров', N'Алексей', N'Иванович', 1, 1)
INSERT [dbo].[Работник] ([Код_Работника], [Фамилия], [Имя], [Отчество], [Код_Цеха], [Код_Должности]) VALUES (2, N'Смирнов', N'Борис', N'Анатольевич', 1, 2)
INSERT [dbo].[Работник] ([Код_Работника], [Фамилия], [Имя], [Отчество], [Код_Цеха], [Код_Должности]) VALUES (3, N'Волков', N'Виктор', N'Сергеевич', 2, 1)
SET IDENTITY_INSERT [dbo].[Работник] OFF
GO
SET IDENTITY_INSERT [dbo].[Спецодежда] ON 

INSERT [dbo].[Спецодежда] ([Код_Спецодежды], [Наименование_Вида], [Срок_Носки], [Стоимость_Единицы]) VALUES (1, N'Халат хлопковый', 12, CAST(1200.00 AS Decimal(10, 2)))
INSERT [dbo].[Спецодежда] ([Код_Спецодежды], [Наименование_Вида], [Срок_Носки], [Стоимость_Единицы]) VALUES (2, N'Комбинезон защитный', 24, CAST(2500.00 AS Decimal(10, 2)))
INSERT [dbo].[Спецодежда] ([Код_Спецодежды], [Наименование_Вида], [Срок_Носки], [Стоимость_Единицы]) VALUES (3, N'Тапочки резиновые', 6, CAST(300.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Спецодежда] OFF
GO
SET IDENTITY_INSERT [dbo].[Цех] ON 

INSERT [dbo].[Цех] ([Код_Цеха], [Наименование_Цеха], [Фамилия_Начальника_Цеха], [Имя_Начальника_Цеха], [Отчество_Начальника_Цеха]) VALUES (1, N'Механический', N'Иванов', N'Петр', N'Сергеевич')
INSERT [dbo].[Цех] ([Код_Цеха], [Наименование_Цеха], [Фамилия_Начальника_Цеха], [Имя_Начальника_Цеха], [Отчество_Начальника_Цеха]) VALUES (2, N'Сборочный', N'Сидоров', N'Андрей', N'Владимирович')
INSERT [dbo].[Цех] ([Код_Цеха], [Наименование_Цеха], [Фамилия_Начальника_Цеха], [Имя_Начальника_Цеха], [Отчество_Начальника_Цеха]) VALUES (3, N'Покрасочный', N'Кузнецов', N'Дмитрий', N'Николаевич')
SET IDENTITY_INSERT [dbo].[Цех] OFF
GO
ALTER TABLE [dbo].[Получения] ADD  DEFAULT (getdate()) FOR [Дата_Получения]
GO
ALTER TABLE [dbo].[Получения]  WITH CHECK ADD FOREIGN KEY([Код_Работника])
REFERENCES [dbo].[Работник] ([Код_Работника])
GO
ALTER TABLE [dbo].[Получения]  WITH CHECK ADD FOREIGN KEY([Код_Спецодежды])
REFERENCES [dbo].[Спецодежда] ([Код_Спецодежды])
GO
ALTER TABLE [dbo].[Работник]  WITH CHECK ADD FOREIGN KEY([Код_Должности])
REFERENCES [dbo].[Должность] ([Код_Должности])
GO
ALTER TABLE [dbo].[Работник]  WITH CHECK ADD FOREIGN KEY([Код_Цеха])
REFERENCES [dbo].[Цех] ([Код_Цеха])
GO
ALTER TABLE [dbo].[Должность]  WITH CHECK ADD  CONSTRAINT [CHK_Скидка_Диапазон] CHECK  (([Скидка_На_Спецодежду]>=(30) AND [Скидка_На_Спецодежду]<=(50)))
GO
ALTER TABLE [dbo].[Должность] CHECK CONSTRAINT [CHK_Скидка_Диапазон]
GO
ALTER TABLE [dbo].[Должность]  WITH CHECK ADD CHECK  (([Скидка_На_Спецодежду]>=(30) AND [Скидка_На_Спецодежду]<=(50)))
GO
ALTER TABLE [dbo].[Спецодежда]  WITH CHECK ADD CHECK  (([Срок_Носки]>(0)))
GO
ALTER TABLE [dbo].[Спецодежда]  WITH CHECK ADD CHECK  (([Стоимость_Единицы]>=(0)))
GO
