USE [Никитин_Типография]
GO
/****** Object:  Table [dbo].[Виды_Продукции]    Script Date: 04.02.2026 4:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Виды_Продукции](
	[Код_Вида_Продукции] [int] IDENTITY(1,1) NOT NULL,
	[Название_Продукции] [nvarchar](255) NOT NULL,
	[Стоимость_Единицы] [decimal](10, 2) NOT NULL,
	[Код_Цеха] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_Вида_Продукции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Договоры]    Script Date: 04.02.2026 4:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Договоры](
	[Номер_Договора] [int] IDENTITY(1,1) NOT NULL,
	[Код_Заказчика] [int] NOT NULL,
	[Дата_Оформления] [date] NOT NULL,
	[Дата_Выполнения] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Номер_Договора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказчики]    Script Date: 04.02.2026 4:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказчики](
	[Код_Заказчика] [int] IDENTITY(1,1) NOT NULL,
	[Название_Заказчика] [nvarchar](255) NOT NULL,
	[Адрес] [nvarchar](max) NULL,
	[Телефон] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_Заказчика] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 04.02.2026 4:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[Номер_Заказа] [int] IDENTITY(1,1) NOT NULL,
	[Номер_Договора] [int] NOT NULL,
	[Код_Вида_Продукции] [int] NOT NULL,
	[Количество_Продукции] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Номер_Заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Цехи]    Script Date: 04.02.2026 4:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Цехи](
	[Код_Цеха] [int] IDENTITY(1,1) NOT NULL,
	[Номер_Цеха] [nvarchar](10) NOT NULL,
	[Название_Цеха] [nvarchar](255) NOT NULL,
	[Фамилия_Начальника_Цеха] [nvarchar](255) NOT NULL,
	[Имя_Начальника_Цеха] [nvarchar](255) NOT NULL,
	[Отчество_Начальника_Цеха] [nvarchar](255) NULL,
	[Телефон_Цеха] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_Цеха] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Виды_Продукции] ON 

INSERT [dbo].[Виды_Продукции] ([Код_Вида_Продукции], [Название_Продукции], [Стоимость_Единицы], [Код_Цеха]) VALUES (1, N'Визитки матовые', CAST(1.50 AS Decimal(10, 2)), 1)
INSERT [dbo].[Виды_Продукции] ([Код_Вида_Продукции], [Название_Продукции], [Стоимость_Единицы], [Код_Цеха]) VALUES (2, N'Визитки глянцевые', CAST(1.80 AS Decimal(10, 2)), 1)
INSERT [dbo].[Виды_Продукции] ([Код_Вида_Продукции], [Название_Продукции], [Стоимость_Единицы], [Код_Цеха]) VALUES (3, N'Листовки А5', CAST(0.30 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Виды_Продукции] OFF
GO
SET IDENTITY_INSERT [dbo].[Договоры] ON 

INSERT [dbo].[Договоры] ([Номер_Договора], [Код_Заказчика], [Дата_Оформления], [Дата_Выполнения]) VALUES (1, 4, CAST(N'2026-01-09' AS Date), CAST(N'2025-11-30' AS Date))
INSERT [dbo].[Договоры] ([Номер_Договора], [Код_Заказчика], [Дата_Оформления], [Дата_Выполнения]) VALUES (2, 2, CAST(N'2025-12-16' AS Date), CAST(N'2026-02-09' AS Date))
INSERT [dbo].[Договоры] ([Номер_Договора], [Код_Заказчика], [Дата_Оформления], [Дата_Выполнения]) VALUES (3, 7, CAST(N'2026-01-16' AS Date), CAST(N'2025-12-05' AS Date))
SET IDENTITY_INSERT [dbo].[Договоры] OFF
GO
SET IDENTITY_INSERT [dbo].[Заказчики] ON 

INSERT [dbo].[Заказчики] ([Код_Заказчика], [Название_Заказчика], [Адрес], [Телефон]) VALUES (1, N'ООО "РекламаПлюс"', N'г. Москва, ул. Ленина, д.10', N'+7(495)100-00-01')
INSERT [dbo].[Заказчики] ([Код_Заказчика], [Название_Заказчика], [Адрес], [Телефон]) VALUES (2, N'АО "БизнесПечать"', N'г. Санкт-Петербург, Невский пр., д.25', N'+7(812)200-00-02')
INSERT [dbo].[Заказчики] ([Код_Заказчика], [Название_Заказчика], [Адрес], [Телефон]) VALUES (3, N'ИП Смирнов А.В.', N'г. Казань, ул. Баумана, д.5', N'+7(843)300-00-03')
SET IDENTITY_INSERT [dbo].[Заказчики] OFF
GO
SET IDENTITY_INSERT [dbo].[Заказы] ON 

INSERT [dbo].[Заказы] ([Номер_Заказа], [Номер_Договора], [Код_Вида_Продукции], [Количество_Продукции]) VALUES (1, 5, 16, 411)
INSERT [dbo].[Заказы] ([Номер_Заказа], [Номер_Договора], [Код_Вида_Продукции], [Количество_Продукции]) VALUES (2, 9, 14, 233)
INSERT [dbo].[Заказы] ([Номер_Заказа], [Номер_Договора], [Код_Вида_Продукции], [Количество_Продукции]) VALUES (3, 7, 22, 17)
SET IDENTITY_INSERT [dbo].[Заказы] OFF
GO
SET IDENTITY_INSERT [dbo].[Цехи] ON 

INSERT [dbo].[Цехи] ([Код_Цеха], [Номер_Цеха], [Название_Цеха], [Фамилия_Начальника_Цеха], [Имя_Начальника_Цеха], [Отчество_Начальника_Цеха], [Телефон_Цеха]) VALUES (1, N'Ц-1', N'Печатный цех №1', N'Иванов', N'Сергей', N'Петрович', N'+7(495)111-11-11')
INSERT [dbo].[Цехи] ([Код_Цеха], [Номер_Цеха], [Название_Цеха], [Фамилия_Начальника_Цеха], [Имя_Начальника_Цеха], [Отчество_Начальника_Цеха], [Телефон_Цеха]) VALUES (2, N'Ц-2', N'Цифровой цех', N'Петров', N'Андрей', N'Владимирович', N'+7(495)222-22-22')
INSERT [dbo].[Цехи] ([Код_Цеха], [Номер_Цеха], [Название_Цеха], [Фамилия_Начальника_Цеха], [Имя_Начальника_Цеха], [Отчество_Начальника_Цеха], [Телефон_Цеха]) VALUES (3, N'Ц-3', N'Переплётный цех', N'Сидорова', N'Елена', N'Игоревна', N'+7(495)333-33-33')
SET IDENTITY_INSERT [dbo].[Цехи] OFF
GO
/****** Object:  Index [UQ_Договор_Продукция]    Script Date: 04.02.2026 4:40:09 ******/
ALTER TABLE [dbo].[Заказы] ADD  CONSTRAINT [UQ_Договор_Продукция] UNIQUE NONCLUSTERED 
(
	[Номер_Договора] ASC,
	[Код_Вида_Продукции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Виды_Продукции]  WITH CHECK ADD  CONSTRAINT [FK_Виды_Продукции_Цехи] FOREIGN KEY([Код_Цеха])
REFERENCES [dbo].[Цехи] ([Код_Цеха])
GO
ALTER TABLE [dbo].[Виды_Продукции] CHECK CONSTRAINT [FK_Виды_Продукции_Цехи]
GO
ALTER TABLE [dbo].[Договоры]  WITH CHECK ADD  CONSTRAINT [FK_Договоры_Заказчики] FOREIGN KEY([Код_Заказчика])
REFERENCES [dbo].[Заказчики] ([Код_Заказчика])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Договоры] CHECK CONSTRAINT [FK_Договоры_Заказчики]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Виды] FOREIGN KEY([Код_Вида_Продукции])
REFERENCES [dbo].[Виды_Продукции] ([Код_Вида_Продукции])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Виды]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Договоры] FOREIGN KEY([Номер_Договора])
REFERENCES [dbo].[Договоры] ([Номер_Договора])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Договоры]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD CHECK  (([Количество_Продукции]>(0)))
GO
